<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Apple" verbose="1" >
    <test name="Apple" >
        <classes>
            <class name="com.telran.testTask.tests.SearchItemTest">

            </class>
            <class name="com.telran.testTask.tests.TestBase" />
        </classes>
    </test>

</suite>